@model GDNET.ElapsedTimeField.ViewModels.ElapsedTimeFieldViewModel
@{
    Style.Include("ElapsedTimeField.css");
}
<fieldset>
    <label for="@Html.FieldIdFor(m => Model.Data.Hours)">@Model.Name</label>
    <span class="Years">Years: </span>
    <select id="@Html.FieldIdFor(m => m.Data.Years)" name="@Html.FieldNameFor(m => m.Data.Years)">
        @for (int x = 0; x <= 20; x++)
        {
            @Html.SelectOption(x, Model.Data.Years == x, x.ToString())
        }
    </select>
    <span class="Months">Months:</span>
    <select id="@Html.FieldIdFor(m => m.Data.Months)" name="@Html.FieldNameFor(m => m.Data.Months)">
        @for (int x = 0; x < 12; x++)
        {
            @Html.SelectOption(x, Model.Data.Months == x, x.ToString())
        }
    </select>
    <span class="Days">Days: </span>
    <select id="@Html.FieldIdFor(m => m.Data.Days)" name="@Html.FieldNameFor(m => m.Data.Days)">
        @for (int x = 0; x < 30; x++)
        {
            @Html.SelectOption(x, Model.Data.Days == x, x.ToString())
        }
    </select>
    <span class="Hours">Hours: </span>
    <select id="@Html.FieldIdFor(m => m.Data.Hours)" name="@Html.FieldNameFor(m => m.Data.Hours)">
        @for (int x = 0; x < 24; x++)
        {
            @Html.SelectOption(x, Model.Data.Hours == x, x.ToString())
        }
    </select>
    <span class="Minutes">Minutes: </span>
    <select id="@Html.FieldIdFor(m => m.Data.Minutes)" name="@Html.FieldNameFor(m => m.Data.Minutes)">
        @for (int x = 5; x < 60; x += 5)
        {
            @Html.SelectOption(x, Model.Data.Minutes == x, x.ToString())
        }
    </select>
</fieldset>
